<li><%= lesson.tittle %>
<span class="right">
<%= form_for(UserLesson.new) do |f| %>
  <input type="hidden" name="lesson_id" value="<%= lesson.id %>" />
  <%= f.submit "join", class: "btn btn-primary" %>
<%end%>
<% if current_user.is_admin? %>
<%= link_to "Delete", lesson, method: :delete, data: {confirm: "Are you sure?"}%> | <%= link_to "Edit", edit_lesson_path(lesson) %>
<%end%>
</span>
</li>
