<div>
  <p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Mean:</strong>
  <%= @word.mean %>
</p>

<p>
  <strong>Category:</strong>
  <%= @word.category.tittle %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>

</div>
